---
title: WIT - Get Involved
layout: layouts/sub.liquid
image: /assets/images/age-scatter.png
---

      
      <div class="mask">
        <div class="page-content">
          <div class="intro mdl-grid" id="intro">
            <div class="mdl-cell mdl-cell--5-col mdl-cell--2-offset mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone introduction-content ">
              <div class="mdl-typography--headline">Building effective machine learning models means asking a lot of questions. Look for answers using the What-if Tool, an interactive visual interface designed to probe your models better. <br> Compatible with TensorBoard, Jupyter and Colaboratory notebooks. Works on Tensorflow and Python-accessible models.</div><br><br>
              <div class="mdl-typography--body-1"><a class="inline" href="https://ai.google/research/teams/brain/pair" target="_blank">We</a> believe in making it easier for a broad set of people to examine, evaluate, and compare machine learning models - whether you're a developer, a product manager, a researcher or a student. Now, everyone in your team can participate in probing, shaping and improving models. 
              </div><br>
              <div class="mdl-typography--body-1">The What-If Tool makes it easy to efficiently and intuitively explore up to two models' performance on a dataset. Investigate model performances for a range of features in your dataset, optimization strategies and even manipulations to individual datapoint values. All this and more, in a visual way that requires minimal code.</div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--1-offset mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone introduction-content ">
              <div class="mdl-typography--body-1">Check out this <a class="inline" href="./walkthrough.html">walkthrough</a> to find out what you can learn about your models with the What-If Tool.</div><br>
              <div class="mdl-typography--body-1">For more usage details, refer to the <a class="inline" href="https://github.com/pair-code/what-if-tool">documentation</a>.</div><br>
              <div class="mdl-typography--body-1">For a system design overview and case studies of real-world usage, read our peer-reviewed <a class="inline" href="https://arxiv.org/abs/1907.04135">paper</a>.</div>
              <div class="mdl-typography--title join-community">
                Join the What-If Tool community on our <a class="inline" href="https://groups.google.com/forum/#!forum/what-if-tool" target="_blank">Google Group</a>.</div>
            </div>
          </div>

          <div class="page-section features mdl-grid" id="features">
            <div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone mdl-typography--display-1 section-name">
              What can you do with the What-If Tool? 
            </div>

            <div class="feature-list-item mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-grid mdl-grid--nesting compare-feature">
                <div class="feature-list-item__image mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet "></div>      
                <div class="feature-list-item__content mdl-cell mdl-cell--6-col  mdl-cell--4-col-tablet ">
                  <div class="feature-list-item__title mdl-typography--title ">Compare multiple models within the same workflow
                  </div>
                  <div class="mdl-typography--body-1">
                    Compare and experiment on the performance of two different models on the same dataset simultaneously. Identify individual datapoints or entire dataset slices on which the models differ the most.
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-list-item mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-grid mdl-grid--nesting visualize-inference-feature">
                <div class="feature-list-item__image mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet"></div>
                <div class="feature-list-item__content mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
                  <div class="feature-list-item__title mdl-typography--title">Visualize inference results
                  </div>
                  <div class="mdl-typography--body-1">
                    A functional integration with <a class="inline" href="https://pair-code.github.io/facets">Facets Dive</a> helps you create custom visualizations using features in your dataset. Compare the performance of two models, or inspect a single model's performance by organizing inference results into confusion matrices, scatterplots or histograms. 
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-list-item mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-grid mdl-grid--nesting visualize-attribution-feature">
                <div class="feature-list-item__image mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet"></div>
                <div class="feature-list-item__content mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
                  <div class="feature-list-item__title mdl-typography--title">Visualize feature attributions
                  </div>
                  <div class="mdl-typography--body-1">
                    Visualize the importance of each feature value on each prediction, if a model's prediction function returns feature attributions. Understand which inputs most strongly affect a model's output.
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-list-item mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-grid mdl-grid--nesting distance-feature-feature">
                <div class="feature-list-item__image mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet "></div>
                <div class="feature-list-item__content mdl-cell mdl-cell--6-col  mdl-cell--4-col-tablet ">
                  <div class="feature-list-item__title mdl-typography--title">Arrange datapoints by similarity
                  </div>
                  <div class="mdl-typography--body-1">
                    Create distance features from any datapoint and apply it to your visualizations for further analysis.
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-list-item mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-grid mdl-grid--nesting edit-example-feature">
                <div class="feature-list-item__image mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet "></div>
                <div class="feature-list-item__content mdl-cell mdl-cell--6-col  mdl-cell--4-col-tablet ">
                  <div class="feature-list-item__title mdl-typography--title">Edit a datapoint and see how your model performs
                  </div>
                  <div class="mdl-typography--body-1">
                    Edit, add or remove features or feature values for any selected datapoint and then run inference to test model performance. Alternatively, you can duplicate or upload a whole new example to see where it stands vis-&#224;-vis loaded examples.
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-list-item mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-grid mdl-grid--nesting counterfactual-feature">
                <div class="feature-list-item__image mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet "></div>
                <div class="feature-list-item__content mdl-cell mdl-cell--6-col  mdl-cell--4-col-tablet ">
                  <div class="feature-list-item__title mdl-typography--title">Compare counterfactuals to datapoints
                  </div>
                  <div class="mdl-typography--body-1">
                    For any selected datapoint, find the most similar datapoint of a different classification<a class="citation" href=#ref2 id="cite1">[1]</a><span class="mdl-tooltip mdl-tooltip--right" for="cite1">Wachter, S., Mittelstadt, B., & Russell, C. (2017). Counterfactual explanations without opening the black box: Automated decisions and the GDPR.</span>. Compare them side-by-side to see what makes the similar and what makes them different.
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-list-item mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-grid mdl-grid--nesting pd-plot-feature">
                <div class="feature-list-item__image mdl-cell mdl-cell--4-col  mdl-cell--4-col-tablet "></div>
                <div class="feature-list-item__content mdl-cell mdl-cell--6-col  mdl-cell--4-col-tablet ">
                  <div class="feature-list-item__title mdl-typography--title">Use feature values as lenses into model performance
                  </div>
                  <div class="mdl-typography--body-1">
                    Auto-generated partial dependence plots for individual features show changes in inference results across their different valid values.
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-list-item mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-grid mdl-grid--nesting performance-feature">
                <div class="feature-list-item__image mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet "></div>
                <div class="feature-list-item__content mdl-cell mdl-cell--6-col  mdl-cell--4-col-tablet ">
                  <div class="feature-list-item__title mdl-typography--title">Experiment using confusion matrices and ROC curves
                  </div>
                  <div class="mdl-typography--body-1">
                    Experiment with thresholds and cost ratios in binary models interactively. Observe results as <a class="inline" href="https://en.wikipedia.org/wiki/Receiver_operating_characteristic" target='_blank'>ROC curves</a> and numeric <a class="inline" href="https://en.wikipedia.org/wiki/Confusion_matrix" target='_blank'>confusion matrices</a>.
                  </div>
                </div>
              </div>
            </div>


            <div class="feature-list-item mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-grid mdl-grid--nesting fairness-feature">
                <div class="feature-list-item__image mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet "></div>      
                <div class="feature-list-item__content mdl-cell mdl-cell--6-col  mdl-cell--4-col-tablet ">
                  <div class="feature-list-item__title mdl-typography--title ">Test algorithmic fairness constraints
                  </div>
                  <div class="mdl-typography--body-1">
                    Examine the effect of preset algorithmic fairness constraints, such as equality of opportunity<a class="citation" href=#ref2 id="cite2">[2]</a><span class="mdl-tooltip mdl-tooltip--right" for="cite2">Hardt, M., Price, E., & Srebro, N. (2016). Equality of opportunity in supervised learning. In Advances in neural information processing systems (pp. 3315-3323).</span>for binary classifiers. Go deeper in your analysis by slicing your dataset into meaningful subgroups.
                    <br><br>
                    Read more about using the What-If Tool to investigate <a class="inline" href="./ai-fairness.html" target="_blank">AI Fairness</a>, written by <a class="inline" href="http://www.hyperorg.com/speaker/bio.html" target="_blank">David Weinberger</a>.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="demos mdl-grid mdl-grid--no-spacing page-section" id="demos">
            <div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-typography--display-1 section-name demo-section-title">
              Take the What-If Tool for a spin!
            </div>


            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

             <div class="mdl-tabs__tab-bar demo-tabs">
              <a href="#demo-panel-all" class="mdl-tabs__tab is-active">All</a>
              <a href="#demo-panel-web" class="mdl-tabs__tab">Web Demos</a>
              <a href="#demo-panel-notebook" class="mdl-tabs__tab">Notebook Demos</a>
            </div>

            <div class="mdl-tabs__panel is-active " id="demo-panel-all">
              <div class="mdl-grid demo-container">
                <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                  <div class="income-classification-demo">
                    <div class="demo-title">
                      <h2 class="demo-title mdl-typography--headline">Income Classification</h2>
                    </div>
                    <div class="demo-description">
                      <div class="demo-content mdl-typography--body-1"> Compare two binary classification models that predict whether a person earns more than $50k a year, based on their census information<a class="citation" href=#ref3 id="cite3a">[3]</a><span class="mdl-tooltip--top mdl-tooltip" for="cite3a">Fisher, R. A. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science.</span>. Examine how different features affect each models' prediction, in relation to each other.
                      </div>

                      <div class="demo-links">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="uci.html" target="_blank"> Web Demo <i class="material-icons">chevron_right</i></a><br>
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_Model_Comparison.ipynb" target="_blank"> Notebook Demo <i class="material-icons">chevron_right</i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                  <div class="age-prediction-demo">
                    <div class="demo-title">
                      <h2 class="demo-title mdl-typography--headline">Age Prediction</h2>
                    </div>
                    <div class="demo-description">
                      <div class="demo-content mdl-typography--body-1"> Explore the performance of a regression model which predicts a person's age from their census information<a class="citation" href=#ref3 id="cite3b">[3]</a><span class="mdl-tooltip--top mdl-tooltip" for="cite3b">Fisher, R. A. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science.</span>. Slice your dataset to evaluate performance metrics such as aggregated inference error measures for each subgroup. The web demo includes feature attributions calculated by vanilla gradients.
                      </div>

                      <div class="demo-links">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="age.html" target="_blank"> Web Demo with attributions<i class="material-icons">chevron_right</i></a><br>
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_Age_Regression.ipynb" target="_blank"> Notebook Demo <i class="material-icons">chevron_right</i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                  <div class="smile-detection-demo">
                    <div class="demo-title">
                      <h2 class="demo-title mdl-typography--headline">Smile Detection</h2>
                    </div>
                    <div class="demo-description">
                      <div class="demo-content mdl-typography--body-1"> Predict whether an image contains a smiling face using this binary classification model<a class="citation" href=#ref5 id="cite5">[5]</a><span class="mdl-tooltip--top mdl-tooltip" for="cite5">Liu, Z, Luo, P, Wang, X, Tang, X. Deep Learning Face Attributes in the Wild. Proceedings of International Conference on Computer Vision (ICCV) 2015.</span> on the CelebA dataset. Can you identify which group was missing from the training data, resulting in a biased model?
                      </div>

                      <div class="demo-links">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="image.html" target="_blank"> Web Demo <i class="material-icons">chevron_right</i></a><br>
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/PAIR-code/what-if-tool/blob/master/WIT_Smile_Detector.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                  <div class="flower-classification-demo">
                    <div class="demo-title">
                      <h2 class="demo-title mdl-typography--headline">Flower Species Classification</h2>
                    </div>
                    <div class="demo-description">
                      <div class="demo-content mdl-typography--body-1"> This multi-class classification model predicts the species of iris flowers from sepal and petal measurements<a class="citation" href=#ref4 id="cite4">[4]</a><span class="mdl-tooltip mdl-tooltip--top" for="cite4">Lichman, M. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science.</span>. Look for correlations between different features and flower types.
                      </div>

                      <div class="demo-links">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="iris.html" target="_blank">Web Demo<i class="material-icons">chevron_right</i></a><br>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                  <div class="compas-demo">
                    <div class="demo-title">
                      <h2 class="demo-title mdl-typography--headline">COMPAS Recidivism Classifier</h2>
                    </div>
                    <div class="demo-description">
                      <div class="demo-content mdl-typography--body-1">Inspired by <a href="https://www.propublica.org/article/machine-bias-risk-assessments-in-criminal-sentencing" class="inline" target="_blank"> Propublica</a>, investigate fairness using this classifier that mimics the behavior of the COMPAS recidivism classifier. Trained on the <a href="https://www.kaggle.com/danofer/compass" class="inline" target="_blank">COMPAS dataset</a>, this model determines if a person belongs in the "Low" risk (negative) or "Medium or High" risk (positive) class for recidivism according to COMPAS. A version of this notebook includes displaying feature attributions calculated through use of the <a href="https://github.com/slundberg/shap" class="inline" target="_blank">SHAP library</a>.
                      </div>

                      <div class="demo-links">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="compas.html" target="_blank"> Web Demo <i class="material-icons">chevron_right</i></a><br>
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_COMPAS.ipynb" target="_blank"> Notebook Demo <i class="material-icons">chevron_right</i></a><br>
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_COMPAS_with_SHAP.ipynb" target="_blank">Notebook Demo with attributions<i class="material-icons">chevron_right</i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                  <div class="text-toxicity-demo">
                    <div class="demo-title">
                      <h2 class="demo-title mdl-typography--headline">Text Toxicity</h2>
                    </div>
                    <div class="demo-description">
                      <div class="demo-content mdl-typography--body-1"> Use the What-If Tool to compare two pre-trained models from ConversationAI that determine sentence toxicity, one of which was trained on a more <a href="https://github.com/conversationai/unintended-ml-bias-analysis" class="inline" target="_blank">balanced dataset</a>. Examine their performance side-by-side on the <a href="https://figshare.com/articles/Wikipedia_Talk_Labels_Toxicity/4563973" class="inline" target="_blank">Wikipedia Comments dataset</a>. These are <a href="https://www.tensorflow.org/guide/keras" class="inline" target="_blank">keras</a> models which do not use TensorFlow examples as an input format.
                      </div>

                      <div class="demo-links">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_Toxicity_Text_Model_Comparison.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                  <div class="mortgage-demo">
                    <div class="demo-title">
                      <h2 class="demo-title mdl-typography--headline">Mortgage Classification with AI Platform</h2>
                    </div>
                    <div class="demo-description">
                      <div class="demo-content mdl-typography--body-1">Explore a <a href="https://www.ffiec.gov/hmda/hmdaflat.htm" class="inline" target="_blank">mortgage classification</a> model that has been deployed on <a href="https://cloud.google.com/ai-platform/" class="inline" target="_blank">Cloud AI Platform</a>. This model was created with the XGBoost platform and not TensorFlow.
                      </div>

                      <div class="demo-links">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/xgboost_caip.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                  <div class="e2e-mortgage-demo">
                    <div class="demo-title">
                      <h2 class="demo-title mdl-typography--headline">Training a Mortgage Classification Model with AI Platform</h2>
                    </div>
                    <div class="demo-description">
                      <div class="demo-content mdl-typography--body-1">Train a <a href="https://www.ffiec.gov/hmda/hmdaflat.htm" class="inline" target="_blank">mortgage classification</a> model with XGBoost, deploy it to <a href="https://cloud.google.com/ai-platform/" class="inline" target="_blank">Cloud AI Platform</a>, and use the What-If Tool to analyze it. This demo requires a Google Cloud Platform account.
                      </div>

                      <div class="demo-links">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.sandbox.google.com/github/pair-code/what-if-tool/blob/master/xgboost_caip_e2e.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                  <div class="wine-demo">
                    <div class="demo-title">
                      <h2 class="demo-title mdl-typography--headline">Training and Comparing Wine Quality Models with AI Platform</h2>
                    </div>
                    <div class="demo-description">
                      <div class="demo-content mdl-typography--body-1">Train both a scikit-learn and keras model to predict <a href="https://archive.ics.uci.edu/ml/datasets/wine+quality" class="inline" target="_blank">wine quality</a> and deploy them to <a href="https://cloud.google.com/ai-platform/" class="inline" target="_blank">Cloud AI Platform</a>. Then use the What-If Tool to compare the two models. This demo requires a Google Cloud Platform account.
                      </div>

                      <div class="demo-links">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.sandbox.google.com/github/pair-code/what-if-tool/blob/master/keras_sklearn_compare_caip_e2e.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- grid ends -->
              </div>
            </div>


            <div class="mdl-tabs__panel" id="demo-panel-web">
             <div class="mdl-grid demo-container">
              <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                <div class="income-classification-demo">
                  <div class="demo-title">
                    <h2 class="demo-title mdl-typography--headline">Income Classification</h2>
                  </div>
                  <div class="demo-description">
                    <div class="demo-content mdl-typography--body-1"> Compare two binary classification models that predict whether a person earns more than $50k a year, based on their census information<a class="citation" href=#ref3 id="cite3a">[3]</a><span class="mdl-tooltip--top mdl-tooltip" for="cite3a">Fisher, R. A. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science.</span>. Examine how different features affect each models' prediction, in relation to each other.
                    </div>

                    <div class="demo-links">
                      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="uci.html" target="_blank"> Web Demo <i class="material-icons">chevron_right</i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                <div class="age-prediction-demo">
                  <div class="demo-title">
                    <h2 class="demo-title mdl-typography--headline">Age Prediction</h2>
                  </div>
                  <div class="demo-description">
                    <div class="demo-content mdl-typography--body-1"> Explore the performance of a regression model which predicts a person's age from their census information<a class="citation" href=#ref3 id="cite3b">[3]</a><span class="mdl-tooltip--top mdl-tooltip" for="cite3b">Fisher, R. A. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science.</span>. Slice your dataset to evaluate performance metrics such as aggregated inference error measures for each subgroup. This demo includes feature attributions calculated by vanilla gradients.
                    </div>

                    <div class="demo-links">
                      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="age.html" target="_blank"> Web Demo with attributions <i class="material-icons">chevron_right</i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                <div class="smile-detection-demo">
                  <div class="demo-title">
                    <h2 class="demo-title mdl-typography--headline">Smile Detection</h2>
                  </div>
                  <div class="demo-description">
                    <div class="demo-content mdl-typography--body-1"> Predict whether an image contains a smiling face using this binary classification model<a class="citation" href=#ref5 id="cite5">[5]</a><span class="mdl-tooltip--top mdl-tooltip" for="cite5">Liu, Z, Luo, P, Wang, X, Tang, X. Deep Learning Face Attributes in the Wild. Proceedings of International Conference on Computer Vision (ICCV) 2015.</span> on the CelebA dataset. Can you identify which group was missing from the training data, resulting in a biased model?
                    </div>

                    <div class="demo-links">
                      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="image.html" target="_blank">Web Demo<i class="material-icons">chevron_right</i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                <div class="compas-demo">
                  <div class="demo-title">
                    <h2 class="demo-title mdl-typography--headline">COMPAS Recidivism Classifier</h2>
                  </div>
                  <div class="demo-description">
                    <div class="demo-content mdl-typography--body-1">Inspired by <a href="https://www.propublica.org/article/machine-bias-risk-assessments-in-criminal-sentencing" class="inline" target="_blank"> Propublica</a>, investigate fairness using this classifier that mimics the behavior of the COMPAS recidivism classifier. Trained on the <a href="https://www.kaggle.com/danofer/compass" class="inline" target="_blank">COMPAS dataset</a>, this model determines if a person belongs in the "Low" risk (negative) or "Medium or High" risk (positive) class for recidivism according to COMPAS.</a>.
                    </div>

                    <div class="demo-links">
                      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="compas.html" target="_blank"> Web Demo <i class="material-icons">chevron_right</i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
                <div class="flower-classification-demo">
                  <div class="demo-title">
                    <h2 class="demo-title mdl-typography--headline">Flower Species Classification</h2>
                  </div>
                  <div class="demo-description">
                    <div class="demo-content mdl-typography--body-1"> This multi-class classification model predicts the species of iris flowers from sepal and petal measurements<a class="citation" href=#ref4 id="cite4">[4]</a><span class="mdl-tooltip mdl-tooltip--top" for="cite4">Lichman, M. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science.</span>. Look for correlations between different features and flower types.
                    </div>

                    <div class="demo-links">
                      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="iris.html" target="_blank">Web Demo<i class="material-icons">chevron_right</i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- grid ends -->
            </div>
          </div>

          <div class="mdl-tabs__panel" id="demo-panel-notebook">
           <div class="mdl-grid demo-container">
            <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
              <div class="income-classification-demo">
                <div class="demo-title">
                  <h2 class="demo-title mdl-typography--headline">Income Classification</h2>
                </div>
                <div class="demo-description">
                  <div class="demo-content mdl-typography--body-1"> Compare two binary classification models that predict whether a person earns more than $50k a year, based on their census information<a class="citation" href=#ref3 id="cite3a">[3]</a><span class="mdl-tooltip--top mdl-tooltip" for="cite3a">Fisher, R. A. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science.</span>. Examine how different features affect each models' prediction, in relation to each other.
                  </div>

                  <div class="demo-links">
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_Model_Comparison.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
              <div class="age-prediction-demo">
                <div class="demo-title">
                  <h2 class="demo-title mdl-typography--headline">Age Prediction</h2>
                </div>
                <div class="demo-description">
                  <div class="demo-content mdl-typography--body-1"> Explore the performance of a regression model which predicts a person's age from their census information<a class="citation" href=#ref3 id="cite3b">[3]</a><span class="mdl-tooltip--top mdl-tooltip" for="cite3b">Fisher, R. A. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science.</span>. Slice your dataset to evaluate performance metrics such as aggregated inference error measures for each subgroup.
                  </div>

                  <div class="demo-links">
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_Age_Regression.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
              <div class="smile-detection-demo">
                <div class="demo-title">
                  <h2 class="demo-title mdl-typography--headline">Smile Detection</h2>
                </div>
                <div class="demo-description">
                  <div class="demo-content mdl-typography--body-1"> Predict whether an image contains a smiling face using this binary classification model<a class="citation" href=#ref5 id="cite5">[5]</a><span class="mdl-tooltip--top mdl-tooltip" for="cite5">Liu, Z, Luo, P, Wang, X, Tang, X. Deep Learning Face Attributes in the Wild. Proceedings of International Conference on Computer Vision (ICCV) 2015.</span> on the CelebA dataset. Can you identify which group was missing from the training data, resulting in a biased model?
                  </div>

                  <div class="demo-links">
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/PAIR-code/what-if-tool/blob/master/WIT_Smile_Detector.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                  </div>
                </div>
              </div>
            </div>


            <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
              <div class="compas-demo">
                <div class="demo-title">
                  <h2 class="demo-title mdl-typography--headline">COMPAS Recidivism Classifier</h2>
                </div>
                <div class="demo-description">
                  <div class="demo-content mdl-typography--body-1">Inspired by <a href="https://www.propublica.org/article/machine-bias-risk-assessments-in-criminal-sentencing" class="inline" target="_blank"> Propublica</a>, investigate fairness using this classifier that mimics the behavior of the COMPAS recidivism classifier. Trained on the <a href="https://www.kaggle.com/danofer/compass" class="inline" target="_blank">COMPAS dataset</a>, this model determines if a person belongs in the "Low" risk (negative) or "Medium or High" risk (positive) class for recidivism according to COMPAS. A version of this notebook includes displaying feature attributions calculated through use of the <a href="https://github.com/slundberg/shap" class="inline" target="_blank">SHAP library</a>.
                  </div>

                  <div class="demo-links">
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_COMPAS.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_COMPAS_with_SHAP.ipynb" target="_blank">Notebook Demo with attributions<i class="material-icons">chevron_right</i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
              <div class="text-toxicity-demo">
                <div class="demo-title">
                  <h2 class="demo-title mdl-typography--headline">Text Toxicity</h2>
                </div>
                <div class="demo-description">
                  <div class="demo-content mdl-typography--body-1"> Use the What-If Tool to compare two pre-trained models from ConversationAI that determine sentence toxicity, one of which was trained on a more <a href="https://github.com/conversationai/unintended-ml-bias-analysis" class="inline" target="_blank">balanced dataset</a>. Examine their performance side-by-side on the <a href="https://figshare.com/articles/Wikipedia_Talk_Labels_Toxicity/4563973" class="inline" target="_blank">Wikipedia Comments dataset</a>. These are <a href="https://www.tensorflow.org/guide/keras" class="inline" target="_blank">keras</a> models which do not use TensorFlow examples as an input format.
                  </div>

                  <div class="demo-links">
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/WIT_Toxicity_Text_Model_Comparison.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
              <div class="mortgage-demo">
                <div class="demo-title">
                  <h2 class="demo-title mdl-typography--headline">Mortgage Classification with AI Platform</h2>
                </div>
                <div class="demo-description">
                  <div class="demo-content mdl-typography--body-1">Explore a <a href="https://www.ffiec.gov/hmda/hmdaflat.htm" class="inline" target="_blank">mortgage classification</a> model that has been deployed on <a href="https://cloud.google.com/ai-platform/" class="inline" target="_blank">Cloud AI Platform</a>. This model was created with the XGBoost platform and not TensorFlow.
                  </div>

                  <div class="demo-links">
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.research.google.com/github/pair-code/what-if-tool/blob/master/xgboost_caip.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
              <div class="e2e-mortgage-demo">
                <div class="demo-title">
                  <h2 class="demo-title mdl-typography--headline">Training a Mortgage Classification Model with AI Platform</h2>
                </div>
                <div class="demo-description">
                  <div class="demo-content mdl-typography--body-1">Train a <a href="https://www.ffiec.gov/hmda/hmdaflat.htm" class="inline" target="_blank">mortgage classification</a> model with XGBoost, deploy it to <a href="https://cloud.google.com/ai-platform/" class="inline" target="_blank">Cloud AI Platform</a>, and use the What-If Tool to analyze it. This demo requires a Google Cloud Platform account.
                  </div>

                  <div class="demo-links">
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.sandbox.google.com/github/pair-code/what-if-tool/blob/master/xgboost_caip_e2e.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="mdl-cell demo-card-cell mdl-cell--4-col mdl-cell--7-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">
              <div class="wine-demo">
                <div class="demo-title">
                  <h2 class="demo-title mdl-typography--headline">Training and Comparing Wine Quality Models with AI Platform</h2>
                </div>
                <div class="demo-description">
                  <div class="demo-content mdl-typography--body-1">Train both a scikit-learn and keras model to predict <a href="https://archive.ics.uci.edu/ml/datasets/wine+quality" class="inline" target="_blank">wine quality</a> and deploy them to <a href="https://cloud.google.com/ai-platform/" class="inline" target="_blank">Cloud AI Platform</a>. Then use the What-If Tool to compare the two models. This demo requires a Google Cloud Platform account.
                  </div>

                  <div class="demo-links">
                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="https://colab.sandbox.google.com/github/pair-code/what-if-tool/blob/master/keras_sklearn_compare_caip_e2e.ipynb" target="_blank">Notebook Demo<i class="material-icons">chevron_right</i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- grid ends -->
          </div>
        </div>
      </div>

    </div>
    <hr>
    <div class="about mdl-grid page-section" id="about">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--1-offset mdl-typography--display-1 mdl-cell--2-col-tablet">About</div>
      <div class=" mdl-cell mdl-cell--1-offset mdl-cell--5-col mdl-typography--body-1 mdl-cell--6-col-tablet ">
        <br><span class="mdl-typography--headline">PAIR </span><br>
        The <a class="inline" href="https://www.google.ai/pair" target='_blank'>People + AI Research initiative (PAIR)</a> brings together researchers across <a class='inline' href='https://ai.google' target='_blank'>Google</a> to study and redesign the ways people interact with AI systems. We focus on the &quot;human side&quot; of AI: the relationship between users and technology, the new applications it enables, and how to make it broadly inclusive. Our goal isn't just to publish research; we're also releasing open source tools for researchers and other experts to use.
        <br><br><span class="mdl-typography--headline">Acknowledgements</span><br>
        The What-If Tool was a collaborative effort. We would like to thank the Google teams that piloted the tool and provided valuable feedback and the TensorBoard team for all their help.
      </div>
    </div>
    <hr>
    <div class="references mdl-grid page-section" id="references">
      <div class="mdl-cell mdl-cell--3-col  mdl-cell--1-offset mdl-typography--display-1 mdl-cell--2-col-tablet">References</div>
      <div class=" mdl-cell mdl-cell--1-offset mdl-cell--5-col mdl-cell--6-col-tablet ">
        <div class="mdl-typography--body-2" id="ref1"><a class="citation" href=#features>[1]</a> Wachter, S., Mittelstadt, B., & Russell, C. (2017). Counterfactual explanations without opening the black box: Automated decisions and the GDPR.<a class="inline" href="https://arxiv.org/abs/1711.00399" target="_blank">https://arxiv.org/abs/1711.00399</a>
        </div>
        <br>
        <div class="mdl-typography--body-2" id="ref2"><a class="citation" href=#features>[2]</a>Hardt, M., Price, E., & Srebro, N. (2016). Equality of opportunity in supervised learning. In Advances in neural information processing systems (pp. 3315-3323). <a class="inline" href="https://arxiv.org/abs/1610.02413" target="_blank">https://arxiv.org/abs/1610.02413</a>
        </div>
        <br>
        <div class="mdl-typography--body-2" id="ref3"><a class="citation" href=#demos>[3]</a> Fisher, R. A. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science. <a class="inline" href="http://archive.ics.uci.edu/ml/datasets/Census+Income" target="_blank">http://archive.ics.uci.edu/ml/datasets/Census+Income</a>
        </div>
        <br>
        <div class="mdl-typography--body-2" id="ref4">
          <a class="citation" href=#demos>[4]</a> Lichman, M. UCI Machine Learning Repository. Irvine, CA: University of California, School of Information and Computer Science. <a class="inline" href="https://archive.ics.uci.edu/ml/datasets/iris" target="_blank">https://archive.ics.uci.edu/ml/datasets/iris</a>.
        </div>
        <br>
        <div class="mdl-typography--body-2" id="ref5">
          <a class="citation" href=#demos>[5]</a> Liu, Z, Luo, P, Wang, X, Tang, X. Deep Learning Face Attributes in the Wild. Proceedings of International Conference on Computer Vision (ICCV) 2015. <a class="inline" href="http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html" target="_blank">http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html</a>
        </div>
      </div>
    </div>
  
