---
title: What-If Tool
layout: layouts/main.liquid
---

<div class="mdl-grid">
  {% include partials/home-card image: '/assets/images/test.png', action: 'RESOURCES', 
  title: 'Github', desc: 'Highly interactive, visual and approachable explanations of key AI concepts.', 
  link: 'https://github.com/PAIR-code/what-if-tool' %}
  
  {% include partials/home-card image: '/assets/images/test.png', action: 'RESOURCES', 
  title: 'Github', desc: 'Highly interactive, visual and approachable explanations of key AI concepts.', 
  link: 'https://github.com/PAIR-code/what-if-tool' %}

  {% include partials/home-card image: '/assets/images/test.png', action: 'RESOURCES', 
  title: 'Github', desc: 'Highly interactive, visual and approachable explanations of key AI concepts.', 
  link: 'https://github.com/PAIR-code/what-if-tool' %}

  {% include partials/home-card image: '/assets/images/test.png', action: 'RESOURCES', 
  title: 'Github', desc: 'Highly interactive, visual and approachable explanations of key AI concepts.', 
  link: 'https://github.com/PAIR-code/what-if-tool' %}

</div>