
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout__title">{{ title }}</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="./index.html">Home</a>
            <a class="mdl-navigation__link" href="./index.html#intro">Introduction</a>
            <a class="mdl-navigation__link" href="./index.html#features">Features</a>
            <a class="mdl-navigation__link" href="./index.html#demos">Demos</a>
            <a class="mdl-navigation__link" href="./index.html#about">About</a>
            <a class="mdl-navigation__link" href="./index.html#references">References</a>
            <a class="mdl-navigation__link" href="./ai-fairness.html">AI Fairness</a>
            <a class="mdl-navigation__link" href="./walkthrough.html">Walkthrough</a>
            <a class="mdl-navigation__link button-style mdl-typography--text-uppercase" href="https://ai.google/research/teams/brain/pair" target="-_blank">
              <i class="material-icons icon-style">open_in_new</i>
              <span>PAIR</span>
            </a>
            <a class="mdl-navigation__link button-style mdl-typography--text-uppercase" href="https://github.com/pair-code/what-if-tool" target="-_blank">
              <i class="material-icons icon-style">link</i>
              <span>Github</span>
            </a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title }}</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="./index.html">Home</a>
          <a class="mdl-navigation__link" href="./index.html#intro">Introduction</a>
          <a class="mdl-navigation__link" href="./index.html#features">Features</a>
          <a class="mdl-navigation__link" href="./index.html#demos">Demos</a>
          <a class="mdl-navigation__link" href="./index.html#about">About</a>
          <a class="mdl-navigation__link" href="./index.html#references">References</a>
          <a class="mdl-navigation__link" href="./ai-fairness.html">AI Fairness</a>
          <a class="mdl-navigation__link" href="./walkthrough.html">Walkthrough</a>
          <hr>
          <a class="mdl-navigation__link" href="https://ai.google/research/teams/brain/pair">About PAIR</a>
          <a class="mdl-navigation__link" href="https://github.com/pair-code/what-if-tool">Github</a>
          <a class="mdl-navigation__link" href="https://pair-code.github.io/facets/" target="-_blank">
            <i class="material-icons icon-style">star</i>
            <span>Facets</span>
          </a>
          <a class="mdl-navigation__link" href="https://js.tensorflow.org" target="-_blank">
            <i class="material-icons icon-style">star</i>
            <span>TensorFlow.js</span>
          </a>
        </nav>
      </div>