
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout__title"><a href="/">What-If Tool</a></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/getting-started/">GETTING STARTED</a>
            <a class="mdl-navigation__link" href="/learn/">LEARN</a>
            <a class="mdl-navigation__link" href="/faqs/">FAQs</a>
            <a class="mdl-navigation__link" href="/get-involved/">GET INVOLVED</a>
            <a class="mdl-navigation__link button-style mdl-typography--text-uppercase" href="https://github.com/pair-code/what-if-tool" target="-_blank">
              <i class="material-icons icon-style">link</i>
              <span>GITHUB</span>
            </a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">What-If Tool</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/getting-started/">GETTING STARTED</a>
          <a class="mdl-navigation__link" href="/learn/">LEARN</a>
          <a class="mdl-navigation__link" href="/faqs/">FAQs</a>
          <a class="mdl-navigation__link" href="/get-involved/">GET INVOLVED</a>
          <a class="mdl-navigation__link button-style mdl-typography--text-uppercase" href="https://github.com/pair-code/what-if-tool" target="-_blank">
            <i class="material-icons icon-style">link</i>
            <span>GITHUB</span>
          </a>
          
          <!-- <a class="mdl-navigation__link" href="https://pair-code.github.io/facets/" target="-_blank">
            <i class="material-icons icon-style">star</i>
            <span>Facets</span>
          </a>
          <a class="mdl-navigation__link" href="https://js.tensorflow.org" target="-_blank">
            <i class="material-icons icon-style">star</i>
            <span>TensorFlow.js</span>
          </a> -->
        </nav>
      </div>