
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout__title"><a href="{% root %}/">What-If Tool</a></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="{% root %}/get-started/">GET STARTED</a>
            <a class="mdl-navigation__link" href="{% root %}/learn/">LEARN</a>
            <a class="mdl-navigation__link" href="{% root %}/explore/">EXPLORE</a>
            <a class="mdl-navigation__link" href="{% root %}/faqs/">FAQs</a>
            <a class="mdl-navigation__link" href="https://groups.google.com/forum/#!forum/what-if-tool" target="-_blank">GET INVOLVED<img class="header-arrow" src="{% root %}/assets/images/arrow-link-out.png"/></a>
            <a class="mdl-navigation__link" href="https://github.com/pair-code/what-if-tool" target="-_blank">GITHUB<img class="header-arrow" src="{% root %}/assets/images/arrow-link-out.png"/></a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout__title"><a href="{% root %}/">What-If Tool</a></span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{% root %}/get-started/">GET STARTED</a>
          <a class="mdl-navigation__link" href="{% root %}/learn/">LEARN</a>
          <a class="mdl-navigation__link" href="{% root %}/explore/">EXPLORE</a>
          <a class="mdl-navigation__link" href="{% root %}/faqs/">FAQs</a>
          <a class="mdl-navigation__link" href="https://groups.google.com/forum/#!forum/what-if-tool" target="_blank">GET INVOLVED<img class="header-arrow" src="{% root %}/assets/images/arrow-link-out.png"/></a>
          <a class="mdl-navigation__link" href="https://github.com/pair-code/what-if-tool" target="-_blank">GITHUB<img class="header-arrow" src="{% root %}/assets/images/arrow-link-out.png"/></a>
          
          <!-- <a class="mdl-navigation__link" href="https://pair-code.github.io/facets/" target="-_blank">
            <i class="material-icons icon-style">star</i>
            <span>Facets</span>
          </a>
          <a class="mdl-navigation__link" href="https://js.tensorflow.org" target="-_blank">
            <i class="material-icons icon-style">star</i>
            <span>TensorFlow.js</span>
          </a> -->
        </nav>
      </div>