<div class="resource-card mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="resource-card-title">{{ c-title }}</div>
  <div class="resource-card-copy">{{ c-copy }}</div>
  <div class="resource-card-cta-button"><a href="{{ link }}">{{ cta-copy }}</a></div>
</div>