
body {
  font-family: "Roboto", sans-serif;
}

.mdl-layout__header {
  background-color: white;
}

.mdl-layout__header .mdl-navigation__link {
  color: #4a4a4a;
}

.mdl-layout__header .material-icons {
  color: #4a4a4a;
}

.mdl-layout__title {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 300;
}

.mdl-layout__title a {
  text-decoration: none;
}

.mdl-layout__title a:hover {
  color: black;
}

.mdl-layout__title a:visited, .mdl-layout__title a:active {
  color: inherit;
}



.sub-hero-container, .tutorial-hero-container {
  width: 100%;
  height:250px;
  background-size: cover;
  background-position-x: right;
}

.hero-container, .main-page-container, .sub-page-container, .tutorial-page-container {
  margin: 0 auto; 
  max-width:950px;
}

.sub-page-container h1 {
  font-size: 28px;
  line-height: 36px;
  color: #E8710A;
}

.sub-page-container h2 {
  font-size: 32px;
  line-height: 40px;
  color: #E8710A;
}

.sub-page-container h3 {
  font-size: 22px;
  line-height: 28px;
  color: #129EAF;
}

.sub-page-container h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase; 
  color: #E8710A;
}

.sub-page-container p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;

  color: #3C4043;
}


.sub-title, .tutorial-title {
  color: white;
  font-size: 32px;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sub-copy, .tutorial-copy {
  color: white;
  font-size: 22px;
  line-height: 28px;
}