<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Do we need additional share metadata included here? -->

    {% include partials/analytics %}

    <title>{{ title }}</title>
    
    {% include partials/header-includes %}

  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include partials/header %}
      
      <main class="mdl-layout__content hero-banner">
        {% include partials/hero-element type:"tutorial" %}
        <div class="tutorial-page-container mdl-grid">
          <div class="mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
          {{ content }}
          </div>
        </div>
      </main>
      
      {% include partials/footer %}
    </div>
  </body>

  {% include partials/footer-includes %}
</html>
